@font-face {
  font-family: "Oswald";
  src: url(./police/Oswald/Oswald-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Courgette";
  src: url(./police/Courgette/Courgette-Regular.ttf);
}

/* NavBar  */
header {
  height: 500px;
  width: 100%;
  background: url(./img/header.jpg) fixed center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/header.jpg);
  font-family: "Courgette", Arial, Helvetica, sans-serif;
}
header,
h1 li {
  color: white;
  font-size: 20px;
}
div {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}
nav {
  width: 500px;
  visibility: hidden;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
.head-title {
  border: 2px solid grey;

  height: 40px;
  width: 50px;
  margin-right: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.burger {
  height: 8px;
  width: 40px;
  margin: 5px;
  background: grey;
  border-radius: 25px;
}
/* Responsive header */
@media (min-width: 768px) and (max-width: 992px) {
  .head-title {
    display: none;
  }
  nav {
    visibility: visible;
  }
}
@media (min-width: 992px) {
  .head-title {
    display: none;
  }
  nav {
    visibility: visible;
  }
}
/* End NAV */
/* Main */
.main-container {
  flex: 1;
}
.flex-and-hide-input {
  visibility: hidden;
}
.flex-and-hide-input {
  width: 300px;
}
.responsive {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.responsive,
h3,
p {
  padding-top: 10px;
  padding-bottom: 10px;
}
footer {
  background-color: black;
  padding: 50px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 350px;
}

.footer-1 article {
  display: flex;
  flex-direction: column;
}

footer h3 {
  font-family: "Courgette", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  padding-bottom: 10px;
}

footer h4 {
  font-family: "Courgette", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  padding-bottom: 10px;
}

footer a {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 100;
  padding-bottom: 10px;
  color: white;
}

footer label {
  border: 2px solid white;
  border-radius: 5px;
  padding: 6px 20px;
  color: white;
  font-size: 15px;
}

footer input {
  border: 2px solid white;
  border-radius: 5px;
  padding: 6px 20px;
  font-size: 15px;
  margin-bottom: 15px;
}

.footer-2 img {
  width: 20px;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  height: auto;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.footer-1 {
  gap: 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media (min-width: 768px) and (max-width: 992px) {
  .flex-and-hide-input {
    visibility: visible;
    display: flex;
    flex-direction: column;
  }

  .resize {
    width: 300px;
    height: 200px;
  }
}
@media (min-width: 992px) {
  .flex-and-hide-input {
    visibility: visible;
    display: flex;
    flex-direction: column;
    margin-bottom: 500px;
  }
  .resize {
    width: 300px;
    height: 200px;
  }
}
