header {
  height: 500px;
  width: 100%;
  background: url(./img/header.jpg) fixed center/cover;
}
header,
h1 li {
  color: white;
  font-size: 20px;
}
div {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  backdrop-filter: brightness(30%);
}
nav {
  width: 500px;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
.head-title {
  border: 2px solid grey;

  height: 40px;
  width: 50px;
  margin-right: 20px;
  border-radius: 5px;
}

.burger {
  height: 8px;
  width: 30px;
  margin: 5px;
  background: #000;
}
.card {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card div {
  background: rgba(50, 49, 49, 0.039);
  height: 50%;
  width: 50%;
}
main {
  margin-left: 30px;
  margin-top: 150px;
}
main p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.antoine {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
.auteur {
  display: flex;
}
.auteur article {
  margin: 20px;
}
input,
label,
textarea {
  width: 600px;
  margin: 20px;
}
textarea {
  height: 100px;
}
.last-section {
  margin: 20px;
}
.logo {
  height: 80px;
  width: 80px;
}
.comment {
  display: flex;
  margin: 20px;
}
@media (min-width: 992px) {
  .margin {
    display: flex;
    margin: 50px;
  }

  .antoine {
    margin: 50px;
  }
  main p {
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }
  main {
    width: 80%;
  }
  .head-title {
    display: none;
  }

  input {
    width: 192px;
    height: 30px;
  }
  .input {
    display: flex;
    flex-direction: column;
  }
  .btn {
    width: 200px;
    height: 30px;
  }
  nav {
    /* display: none; */
  }
  main h2 {
    margin: 20px;
    margin-top: 30px;
  }
  input,
  label,
  textarea {
    width: 900px;
    margin: 20px;
  }
}
@media (max-width: 992px) {
  nav {
    display: none;
  }

  /* main {
      display: flex;
      width: 80%;
    } */
}
