header {
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/team/team.jpg);    
  height: 600px;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
}


.title{
  text-align: center;
  margin-top: 100px;
}

.title h1{
    font-size: 40px;
    padding-bottom: 15px;
}

.title h2{
  font-size: 30px;
}

.antoine{
  width: 300px;
  border-radius: 50%;
  float: left;
  padding-right: 20px;
  padding-bottom: 10px;
}

.marge-antoine{
  padding-right: 50px;
}

.section1-text{
  padding: 40px 60px ;
}

.team-m-global{
  display: flex;
  justify-content: space-around;
  margin: 50px 90px;}

  .infos-contact{
    width: 200px;
  }

  .infos-contact h4{
    font-family: "Courgette", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 15px 0px;
  
  }
  
  .infos-contact input{
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
  }
  
  .infos-contact .button{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .infos-contact button{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
  }
  
  .infos-contact button:hover{
    background-color: black;
    color: white;
  }
  
  input::placeholder{
    font-family: "Oswald", Arial, Helvetica, sans-serif;
  }
  
  .logo i{
    padding-right: 25px;
    cursor: pointer;
  }

  
  @media (max-width: 768px){
    .infos-contact{
      display: none;
  }

  .marge-antoine{
    padding-right: 0px;;
  }

  .section1-text{
    padding: 40px 0px ;
  }

  .team-m-global{
    margin: 50px 10px;}
  
}
  